<h1>What type of control would you like to make?</h1>

<div style="display: grid; grid-template-columns: 1fr 1fr 1fr">

<%= form_with url: experiment_controls_path, method: :post do |f| %>
  <h3>Create a Toggle</h3>
  <p>
    <%= f.label :label %><br>
    <%= f.text_field :label %>
    <%= f.hidden_field :type, value: "toggle" %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= form_with url: experiment_controls_path, method: :post do |f| %>
  <h3>Create a Increment Control</h3>
  <p>
    <%= f.label :label %><br>
    <%= f.text_field :label %> <br>
    <%= f.label :min %><br>
    <%= f.number_field :min %> <br>
    <%= f.label :max %><br>
    <%= f.number_field :max %> <br>
    <%= f.label :step %><br>
    <%= f.number_field :step %> <br>
    <%= f.hidden_field :type, value: "increment" %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= form_with url: experiment_controls_path, method: :post do |f| %>
  <h3>Create a Dial</h3>
  <p>
    <%= f.label :label %><br>
    <%= f.text_field :label %> <br>
    <%= f.label :min %><br>
    <%= f.number_field :min %> <br>
    <%= f.label :max %><br>
    <%= f.number_field :max %> <br>
    <%= f.label :step %><br>
    <%= f.number_field :step %> <br>
    <%= f.hidden_field :type, value: "dial" %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>