<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm sticky-top">
  <div class="container-fluid">
    <%= link_to "PEARL Project", home_index_path, class: "navbar-brand fw-bold" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <%= link_to "Team", home_team_path, class: "nav-link active px-3" %>
      </li>
      <li class="nav-item">
        <%= link_to "History", home_history_path, class: "nav-link active px-3" %>
      </li>
      <li class="nav-item">
        <%= link_to "About", home_about_path, class: "nav-link active px-3" %>
      </li>
    </ul>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if current_user %>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to "ðŸ  Home", root_path, class: "nav-link active px-3" %>
          </li>
          <li class="nav-item">
            <%= link_to "Scheduler", appointments_path, class: "nav-link active px-3" %>
          </li>
          <% if current_user.is_admin? %>
            <li class="nav-item">
              <%= link_to "Appointments (Admin)", admin_appointments_path, class: "nav-link text-warning fw-bold px-3" %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link active px-3" %>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to "Sign in", new_user_session_path, class: "nav-link active px-3" %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
