<div id="<%= dom_id pearl_member %>">
  <p>
    <strong>First name:</strong>
    <%= pearl_member.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= pearl_member.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= pearl_member.email %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pearl_member.description %>
  </p>

  <p>
    <strong>Current member:</strong>
    <%= pearl_member.current_member %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= pearl_member.role %>
  </p>

</div>
