<h1 class="text-center my-3">Edit Experiment</h1>

<%= form_for @experiment, html: { multipart: true } do |f| %>
  <div class="container">
    <div class="row g-2">
      <div class="col-md-6">
        <%= f.label :name, class: "form-label" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="col-md-6">
        <%= f.label :image, class: "form-label" %>
        <%= f.file_field :image, class: "form-control" %>

        <!-- Image Preview -->
        <% if @experiment.image.attached? %>
          <div class="mt-2">
            <h5>Current Image:</h5>
            <%= image_tag @experiment.image, class: "img-fluid", alt: @experiment.name %>
          </div>
        <% else %>
          <div class="mt-2">
            <h5>Current Image:</h5>
            <%= image_tag "default_image.jpg", class: "img-fluid", alt: "Default Image" %>
          </div>
        <% end %>
      </div>

      <div class="col-12">
        <%= f.label :description, class: "form-label" %>
        <%= f.text_area :description, class: "form-control", rows: 2 %>
      </div>
    </div>

    <div class="text-center mt-3">
      <%= f.submit "Update Experiment", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
