<h1>Experiment#edit</h1>

<%= form_for @experiment do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.label :image %><br>
    <%= f.text_field :image %>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>