<% if current_user %>
  <%= render "appointments/current" %>
  <% if current_user.is_admin? %>
    <div class="admin">
      <b>Experiments</b>
      <ul>
        <% @experiments.each do |experiment| %>
          <li>
            <%= link_to experiment.name, experiment %>
          </li>
        <% end %>
      </ul>
      <%= button_to "Create An Experiment", new_experiment_path, method: :get %>
    </div>
  <% end %>
  
<% else %>
  <h1>
    PEARL Project @ Berkeley
  </h1>
  <%= button_to "Sign in", new_user_session_path, method: :get %>
  <p style="font-size: 18px; max-width: 600px;">
    Physics Experiments Accessed Remotely Laboratory (PEARL) Project allows students to have real and physical interaction with laboratory equipment in real time as if they were present in the lab. 
  </p>
  <h3>
    Experiments
  </h3>
  <% Experiment.all.each do |e| %>
    <p>
      <b><u><%= e.name %></u></b>
      <p>
        <%= e.description %>
      </p>
      <img src="<%= e.image %>" height="300px" />
    </p>
  <% end %>
  <h3>
    The Team
  </h3>
  <% User.admin.each do |u| %>
    <p>
      <img src="<%= u.image %>" height="150px" /> <br />
      <b><u><%= u.name %></u></b>
      <p>
        <%= u.description %>
      </p>
    </p>
  <% end %>
  <h3>
    Contact Us
  </h3>
  <p>
    Get in touch! pearlproject@gmail.com
  </p>
<% end %>
