<h1>Experiment#new</h1>

<%= form_for @experiment || Experiment.new do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.label :image %><br>
    <%= f.text_field :image %>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>