<h1><%= @experiment.name %></h1>

<b>Controls:</b>

<br /> <br />

<% @experiment.controls.each do |control| %>
  <li style="display: flex; align-items: center; gap: 4px;">
    <% if control.is_a?(Control::Toggle) %>
      <input type="checkbox">
      <label><%= control.label %> </label><br>
    <% end %>
    
    <% if control.is_a?(Control::Increment) %>
      <input type="number" id="quantity" name="quantity" min="<%= control.min %>" max="<%= control.max %>" step="<%= control.step %>">
      <label><%= control.label %> </label><br>
    <% end %>
    
    <% if control.is_a?(Control::Dial) %>
      <input type="range" id="quantity" name="quantity" min="<%= control.min %>" max="<%= control.max %>" step="<%= control.step %>">
      <label><%= control.label %> </label><br>
    <% end %>
    <span style="display: inline-flex; gap: 4px; margin-top: 8px; margin-left: 16px">
      <%= button_to "🗑️", experiment_control_path(experiment_id: @experiment.id, id: "#{control.type}_#{control.id}"), method: :delete %>
      <%= button_to "✏️", edit_experiment_control_path(experiment_id: @experiment.id, id: "#{control.type}_#{control.id}"), method: :get %>
    </span>
  </li>
<% end %>

<br />

<b>Components:</b>

<br /> <br />

<% @experiment.components.each do |component| %>
  <% if component.is_a?(Component::Stopwatch) %>
    <div data-controller="stopwatch" class="container">
        <span style="display: inline-flex; gap: 4px; margin-top: 8px;">
          <u style="margin-right: 8px"><%= component.label %></u>
          <%= button_to "🗑️", experiment_component_path(experiment_id: @experiment.id, id: "#{component.type}_#{component.id}"), method: :delete %>
          <%= button_to "✏️", edit_experiment_component_path(experiment_id: @experiment.id, id: "#{component.type}_#{component.id}"), method: :get %>
        </span>
        <p data-target="stopwatch.display">00:00:00</p>
        <button data-action="click->stopwatch#startStop" data-target="stopwatch.startStop">▶️</button>
        <button data-action="click->stopwatch#reset">🔁</button>
        <button data-action="click->stopwatch#pauseResume" data-target="stopwatch.pauseResume" disabled>⏸️</button>
    </div>
  <% else %>
    <li>
      <span style="display: inline-flex; gap: 4px; margin-top: 8px;">
        <%= component.label %> 
        <%= button_to "🗑️", experiment_component_path(experiment_id: @experiment.id, id: "#{component.type}_#{component.id}"), method: :delete %>
        <%= button_to "✏️", edit_experiment_component_path(experiment_id: @experiment.id, id: "#{component.type}_#{component.id}"), method: :get %>
      </span>
    </li>
  <% end %>
<% end %>

<br />

<b>Cameras:</b>

<br /> <br />

<% @experiment.camera_streams.each do |camera_streams| %>
  <li>
    <span style="display: inline-flex; gap: 4px; margin-top: 8px;">
      <%= camera_streams.url %> 
      <%= button_to "🗑️", experiment_camera_stream_path(experiment_id: @experiment.id, id: camera_streams.id), method: :delete %>
      <%= button_to "✏️", edit_experiment_camera_stream_path(experiment_id: @experiment.id, id: camera_streams.id), method: :get %>
    </span>
  </li>
<% end %>

<br />

<div style="display: flex; gap: 8px; margin-bottom: 8px;">

  <%= button_to "Delete Experiment", @experiment, method: :delete %>
  
  <%= button_to "Update Experiment", edit_experiment_path(@experiment), method: :get %>

</div>

<div style="display: flex; gap: 8px">
  
  <%= button_to "Add Controls", new_experiment_control_path(@experiment), method: :get %>

  <%= button_to "Add Components", new_experiment_component_path(@experiment), method: :get %>
  
  <%= button_to "Add Cameras", new_experiment_camera_stream_path(@experiment), method: :get %>

</div>

<script>
  
  
</script>