<h1 class="text-center mb-4"><%= @experiment.name %></h1>

<div class="container">
  <b class="mb-3">Controls:</b>
  <div data-controller="experiment" data-experiment-id-value="<%= @experiment.id %>">
    <div class="row">
      <% @experiment.controls.each do |control| %>
        <div class="col-md-6 mb-3">
          <div class="card h-100">
            <div class="card-body">
              <% if control.is_a?(Control::Toggle) %>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" data-target="experiment.field" name="checkbox_<%= control.id %>">
                  <label class="form-check-label"><%= control.label %></label>
                </div>
              <% elsif control.is_a?(Control::Increment) %>
                <label><%= control.label %></label>
                <input type="number" class="form-control" data-target="experiment.field" name="increment_<%= control.id %>" min="<%= control.min %>" max="<%= control.max %>" step="<%= control.step %>">
              <% elsif control.is_a?(Control::Dial) %>
                <label><%= control.label %></label>
                <input type="range" class="form-range" data-target="experiment.field" name="dial_<%= control.id %>" min="<%= control.min %>" max="<%= control.max %>" step="<%= control.step %>">
              <% elsif control.is_a?(Control::PushButton) %>
                <label><%= control.label %></label>
                <button class="btn btn-primary btn-sm" data-target="experiment.field" name="push_button_<%= control.id %>"><%= control.label %></button>
              <% elsif control.is_a?(Control::Input) %>
                <label><%= control.label %></label>
                <input type="number" class="form-control" data-target="experiment.field" name="input_<%= control.id %>" min="<%= control.min %>" max="<%= control.max %>" step="<%= control.step %>">
              <% elsif control.is_a?(Control::Position) %>
                <label><%= control.label %></label>
                <input type="range" class="form-range" data-target="experiment.field" name="position_<%= control.id %>_x" min="<%= control.x_min %>" max="<%= control.x_max %>" step="<%= control.x_step %>">
                <input type="range" class="form-range" data-target="experiment.field" name="position_<%= control.id %>_y" min="<%= control.y_min %>" max="<%= control.y_max %>" step="<%= control.y_step %>">
                <% if control.three_d %>
                  <input type="range" class="form-range" data-target="experiment.field" name="position_<%= control.id %>_z" min="<%= control.z_min %>" max="<%= control.z_max %>" step="<%= control.z_step %>">
                <% end %>
              <% end %>

              <% if current_user.is_admin? %>
                <div class="d-flex gap-2 mt-3">
                  <%= button_to "🗑️", experiment_control_path(experiment_id: @experiment.id, id: "#{control.type}_#{control.id}"), method: :delete, class: "btn btn-danger btn-sm" %>
                  <%= button_to "✏️", edit_experiment_control_path(experiment_id: @experiment.id, id: "#{control.type}_#{control.id}"), method: :get, class: "btn btn-secondary btn-sm" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <b class="mt-5 mb-3">Components:</b>
  <div class="row">
    <% @experiment.components.each do |component| %>
      <div class="col-md-6 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <% if component.is_a?(Component::Stopwatch) %>
              <div data-controller="stopwatch">
                <u><%= component.label %></u>
                <p data-target="stopwatch.display">00:00:00</p>
                <button class="btn btn-primary btn-sm" data-action="click->stopwatch#startStop" data-target="stopwatch.startStop">▶️</button>
                <button class="btn btn-warning btn-sm" data-action="click->stopwatch#reset">🔁</button>
                <button class="btn btn-secondary btn-sm" data-action="click->stopwatch#pauseResume" data-target="stopwatch.pauseResume" disabled>⏸️</button>
              </div>
            <% else %>
              <span><%= component.label %></span>
            <% end %>

            <% if current_user.is_admin? %>
              <div class="d-flex gap-2 mt-3">
                <%= button_to "🗑️", experiment_component_path(experiment_id: @experiment.id, id: "#{component.type}_#{component.id}"), method: :delete, class: "btn btn-danger btn-sm" %>
                <%= button_to "✏️", edit_experiment_component_path(experiment_id: @experiment.id, id: "#{component.type}_#{component.id}"), method: :get, class: "btn btn-secondary btn-sm" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <b class="mt-5 mb-3">Cameras:</b>
  <% @experiment.camera_streams.each do |camera_stream| %>
    <div class="card mb-4">
      <div class="card-body">
        <div style="position: relative; width: 600px; height: 400px; overflow: hidden">
          <iframe width="600" height="400" src="<%= camera_stream.url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
          <img src="https://cloud-bkp6kovw2-hack-club-bot.vercel.app/0plastic_transparent_ruler_png_clip_art-2891.png" height="100px" alt="Ruler" data-controller="draggable" data-target="draggable.draggable"  data-action="mousedown->draggable#drag wheel->draggable#scale" style="position: absolute; left: 0; top: 0">
        </div>
        <% if current_user.is_admin? %>
          <div class="d-flex gap-2 mt-3">
            <%= button_to "🗑️", experiment_camera_stream_path(experiment_id: @experiment.id, id: camera_stream.id), method: :delete, class: "btn btn-danger btn-sm" %>
            <%= button_to "✏️", edit_experiment_camera_stream_path(experiment_id: @experiment.id, id: camera_stream.id), method: :get, class: "btn btn-secondary btn-sm" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if current_user.is_admin? %>
    <div class="admin">
      <div class="d-flex gap-2 mb-3">
        <%= button_to "Delete Experiment", @experiment, method: :delete, class: "btn btn-danger" %>
        <%= button_to "Update Experiment", edit_experiment_path(@experiment), method: :get, class: "btn btn-secondary" %>
      </div>
      <div class="d-flex gap-2">
        <%= button_to "Add Controls", new_experiment_control_path(@experiment), method: :get, class: "btn btn-primary" %>
        <%= button_to "Add Components", new_experiment_component_path(@experiment), method: :get, class: "btn btn-primary" %>
        <%= button_to "Add Cameras", new_experiment_camera_stream_path(@experiment), method: :get, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
