<h1><%= @experiment.name %></h1>

<b>Controls:</b>

<br /> <br />

<% @experiment.controls.each do |control| %>
  <li>
    <span style="display: inline-flex; gap: 4px; margin-top: 8px;">
      <%= control.label %> 
      <%= button_to "ðŸ—‘ï¸", experiment_control_path(experiment_id: @experiment.id, id: control.id, type: control.type), method: :delete %>
      <%= button_to "âœï¸", edit_experiment_control_path(experiment_id: @experiment.id, id: "#{control.type}_#{control.id}"), method: :get %>
    </span>
  </li>
<% end %>

<br />

<b>Cameras:</b>

<br /> <br />

<% @experiment.camera_streams.each do |camera_streams| %>
  <li>
    <span style="display: inline-flex; gap: 4px; margin-top: 8px;">
      <%= camera_streams.url %> 
      <%= button_to "ðŸ—‘ï¸", experiment_camera_stream_path(experiment_id: @experiment.id, id: camera_streams.id), method: :delete %>
      <%= button_to "âœï¸", edit_experiment_camera_stream_path(experiment_id: @experiment.id, id: camera_streams.id), method: :get %>
    </span>
  </li>
<% end %>

<br />

<div style="display: flex; gap: 8px; margin-bottom: 8px;">

  <%= button_to "Delete Experiment", @experiment, method: :delete %>
  
  <%= button_to "Update Experiment", edit_experiment_path(@experiment), method: :get %>

</div>

<div style="display: flex; gap: 8px">
  
  <%= button_to "Add Controls", new_experiment_control_path(@experiment), method: :get %>
  
  <%= button_to "Add Cameras", new_experiment_camera_stream_path(@experiment), method: :get %>

</div>